// text color variables
$grid-gutter-width: 2px !important;
$text-black: #303030 !important;
$text-light: #f0efee !important;
$text-green: #266b58 !important;
$text-gold: #b49240 !important;
$text-grey: rgba(48, 48, 48, 0.6) !important;

// background colors

$bg-black: #303030 !important;
$bg-light: #f0efee !important;
$bg-green: #1f493d !important;
$bg-gold: #b49240 !important;
$bg-backcolor: #e7e7e7 !important;

// font-family
$primary-font: "Inter" !important;

// font-sizes

// web
$heading-web: 45px !important;
$sub-heading-web: 35px !important;
$sub-text-web: 25px !important;
$body-text-web: 18px !important;
$link-text-web: 14px !important;
$number-text-web: 12px !important;

// tab
$heading-tab: 35px !important;
$sub-heading-tab: 25px !important;
$sub-text-tab: 18px !important;
$body-text-tab: 14px !important;
$link-text-tab: 12px !important;
$number-text-tab: 12px !important;
$menu-text-tab: 18px !important;

// mobile
$heading-mobile: 25px !important;
$sub-heading-mobile: 18px !important;
$sub-text-mobile: 14px !important;
$body-text-mobile: 12px !important;
$link-text-mobile: 12px !important;
$number-text-mobile: 12px !important;
$menu-text-mobile: 14px !important;

$logo-text: 15px !important;

// line-height
// web
$heading-web-lh: 64px !important;
$sub-heading-web-lh: 53px !important;
$sub-text-web-lh: 40px !important;
$body-text-web-lh: 22px !important;
$link-text-web-lh: 27px !important;
$number-text-web-lh: 25px !important;

// tab
$heading-tab-lh: 53px !important;
$sub-heading-tab-lh: 40px !important;
$sub-text-tab-lh: 22px !important;
$body-text-tab-lh: 27px !important;
$link-text-tab-lh: 25px !important;
$number-text-tab-lh: 25px !important;
$menu-text-tab-lh: 32px !important;

// mobile
$heading-mobile-lh: 40px !important;
$sub-heading-mobile-lh: 22px !important;
$sub-text-mobile-lh: 27px !important;
$body-text-mobile-lh: 25px !important;
$link-text-mobile-lh: 25px !important;
$number-text-mobile-lh: 25px !important;
$menu-text-mobile-lh: 27px !important;

$logo-text-lh: 18px !important;
// breakpoints

$tab: 1024px !important;
$mobile: 428px !important;

// container-padding
$container-padding-x: 30px !important;

// padding

// used for product collection section
$padding: 12px 0;
$main-padding: 64px 0;

// used for section before footer

$padding-top-128: 128px;
$padding-bottom-128: 128px;

$padding-top-72: 72px;
$padding-bottom-72: 72px;

$padding-top-64: 64px;
$padding-bottom-64: 64px;

$padding-top-32: 32px;
$padding-bottom-32: 32px;

$padding-top-24: 24px;
$padding-bottom-24: 24px;

$padding-top-16: 16px;
$padding-bottom-16: 16px;

$padding-top-12: 12px;
$padding-bottom-12: 12px;

// mobile padding-top
$mobile-padding-top: 16px;

$padding-12: 12px;
$padding-16: 16px;
$padding-24: 24px;
$padding-32: 32px;
