.black-line {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.gold-line {
  border-bottom: 0.5px solid rgba(180, 146, 64, 1);
}

.white-line {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

.black-line:hover,
.white-line:hover,
.gold-line:hover {
  border-bottom: 0.5px solid #b49240;
}

.gold {
  color: $text-gold;
  transition: color 0.5;
}

.black {
  color: $text-black;
  transition: color 0.5;
}

.white {
  color: $text-light;
  transition: color 0.5;
}

.grey {
  color: $text-grey;
  transition: color 0.5;
}

.green {
  color: $text-green;
  transition: color 0.5;
}

.block-link {
  display: block !important;
}

.arrow-right {
  width: 13px !important;
}

.web-show {
  display: block;
}
.tab-show,
.tab-inline-show,
.mobile-show {
  display: none;
}

.padding {
  padding: $padding;
}

.main-padding {
  padding: $main-padding;
}

.adjust {
  padding-left: 25.5%;
}

.text-width-control {
  max-width: 1146px;
}

@media (max-width: 1024px) {
  .text-width-control {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .text-width-control {
    max-width: 400px;
  }
}

// padding scale
.padding-top-128 {
  padding-top: $padding-top-128;

  @media (max-width: 1024px) {
    padding-top: $padding-top-72;
  }

  @media (max-width: 768px) {
    padding-top: $padding-top-64;
  }
}
.padding-bottom-128 {
  padding-bottom: $padding-bottom-128;

  @media (max-width: 1024px) {
    padding-bottom: $padding-bottom-72;
  }

  @media (max-width: 768px) {
    padding-bottom: $padding-bottom-64;
  }
}

.padding-top-72 {
  padding-top: $padding-top-72;

  @media (max-width: 1024px) {
    padding-top: $padding-top-64;
  }

  @media (max-width: 768px) {
    padding-top: $padding-top-32;
  }
}
.padding-bottom-72 {
  padding-bottom: $padding-bottom-72;

  @media (max-width: 1024px) {
    padding-bottom: $padding-bottom-64;
  }

  @media (max-width: 768px) {
    padding-bottom: $padding-bottom-32;
  }
}

.padding-top-64 {
  padding-top: $padding-top-64;

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }
}
.padding-bottom-64 {
  padding-bottom: $padding-bottom-64;

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }
}

.padding-top-32 {
  padding-top: $padding-top-32;

  @media (max-width: 1024px) {
    padding-top: $padding-top-24;
  }

  @media (max-width: 768px) {
    padding-top: $padding-top-12;
  }
}
.padding-bottom-32 {
  padding-bottom: $padding-bottom-32;

  @media (max-width: 1024px) {
    padding-bottom: $padding-bottom-24;
  }

  @media (max-width: 768px) {
    padding-bottom: $padding-bottom-12;
  }
}

.padding-top-24 {
  padding-top: $padding-top-24;

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }
}
.padding-bottom-24 {
  padding-bottom: $padding-bottom-24;

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }
}

.padding-top-16 {
  padding-top: $padding-top-16;

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }
}
.padding-bottom-16 {
  padding-bottom: $padding-bottom-16;

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }
}

@media (max-width: 1024px) {
  .web-show,
  .mobile-show {
    display: none;
  }
}

@media (max-width: 768px) {
  .tab-show,
  .web-show {
    display: none;
  }
  .mobile-show {
    display: block;
  }

  .mobile-padding-top {
    padding-top: $mobile-padding-top;
  }
}
